.Tables {
    border: 1px solid black;
    flex: 35%;
    padding: 15px;
    float: left;
    margin-top: 160px;
}

#TablesContent {
    list-style-type: none;
    padding: 10px;
}

#TablesContent li {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    border: 1px solid #888888;
    box-shadow: 3px 3px #888888;
    margin-bottom: 15px;
}